.main-camera{
    background-image: url(images/Circle\ design.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.logo{
border-top: 2px solid rgba(94, 76, 76, 0.459);
border-bottom: 2px solid rgba(94, 76, 76, 0.459);
}
.icon-i{
color: orange;
}
.pink-color{
    color: rgb(253, 130, 151);
}
footer{
    height: 200px;
align-items: center;
    color: white;
    background-color: rgb(3, 3, 99);
}

